body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:90vh;
}

.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height:400px;
    width:400px;
    background-color:darkseagreen;
    color: navy;
}